<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nick.restaraunt">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOfCategoriesActivity"
            android:label="@string/title_activity_list_of_categories" />
        <activity
            android:name=".DishesViewActivity"
            android:label="@string/title_activity_dishes_view" />
        <activity
            android:name=".FullImageActivity"
            android:label="@string/title_activity_full_image" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" />
        <activity
            android:name=".FotoFragmentActivity"
            android:label="@string/title_activity_foto_fragment" />
        <activity
            android:name=".DatabaseActivity"
            android:label="@string/title_activity_database" />
        <activity
            android:name=".MediaActivity"
            android:label="@string/title_activity_media" />
    </application>

</manifest>
